.nav {
  margin: auto;
  padding: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(13, 7, 66, 0.356);
  position: sticky;
  z-index: 10000;
  top: 0; }
  .nav__Ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; }
  .nav__Li {
    width: 80%;
    list-style: none; }
  .nav__A {
    color: #052b38;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: large; }

.encabezaReceta {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .encabezaReceta__Titulo2 {
    color: #013243; }
  .encabezaReceta__img {
    margin-top: 5%; }

.receta {
  background-color: #c4c2c2;
  width: 70%;
  border-top: 18px dotted #869172;
  padding-top: 5px;
  padding-left: 10px;
  margin-top: 15px; }
  .receta__Titulo3 {
    color: darkslateblue; }
  .receta__Titulo4 {
    color: #146397; }
  .receta__Ol {
    list-style-type: upper-latin; }
  .receta__Ul {
    list-style-type: circle; }

.videos {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .videos__Disc {
    display: flex;
    flex-direction: column;
    grid-area: descripcion;
    margin-left: 50px;
    align-items: flex-start; }
  .videos__Titulo2 {
    background-image: url(./mult/burbuja2.png); }
  .videos__TamanoVideo {
    width: 400px;
    height: 290px;
    margin-top: 15px;
    grid-area: videos;
    margin-left: 50px; }
  .videos__Parrafo {
    font: small; }
  .videos .videos__Articulo {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 75%;
    grid-template-areas: "descripcion"  "videos"; }

@media only screen and (min-width: 600px) {
  .videos {
    display: grid;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center; }
  .videos__Disc {
    display: flex;
    flex-direction: column;
    grid-area: descripcion; }
  .videos__Titulo2 {
    background-image: url(./mult/burbuja2.png);
    margin-top: 20px;
    margin-bottom: 7px; }
  .videos__TamanoVideo {
    width: 600px;
    height: 350px;
    grid-area: videos;
    margin-top: 50px; }
  .videos__Parrafo {
    font-size: x-large;
    margin-bottom: 55px; }
  .videos__Articulo {
    display: grid;
    grid-template-columns: 25% 75;
    grid-template-rows: 100%;
    grid-template-areas: "descripcion videos"; } }
